body{
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
nav{
  font-family: Helvetica, sans-serif;
}
.my-btn{
  border-radius: 20px;
}
/* color */
.my-active-border{
  border:1.5px solid #0070d1;
  border-radius: 20px
}
.my-active{
  border-bottom: 2px solid #0070d1;
}
.red{
  background-color: #cd3d0f;
}
.txt-blue{
  color: #0070d1;
}
.gray{
  color: grey;
}
/* header */
.header-top{
  height: 5vh;
  background-color: black;
}
.header-top img{
  width: 100%;
}
.img-logo-header{
  width: 70px;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
}
.nav-item img{
  margin-left: .4rem;
  width: 10px;
}
/* end header */
.jumbotron{
  background-image: url(../img/jumbo-bg.png);
  background-position: top;
  background-repeat: no-repeat;
}
.my-text-box{
  margin-top:40vh ;
}
.my-text-box img{
  width: 200px;
}
.my-card img{
  width: 100%;
  border-radius: 19px;
  padding: .2rem;
}
main img{
  width: 100%;
}
.my-card-hardware{
  height: 100%;
}
.my-card-hardware img{
  margin-left: 20%;
  width: 65%;
}
/* section banner */
#banner{
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
#banner img{
  width: 200px;
}
/* section game */
#game{
  background-color: #1f1f1f;
}
.my-card-game img{
  border-radius: 10px;
}
/* section ps4 */
.my-card-ps4{
  border: none;
}
/* section subscription */
#ps-plus{
  background-color: #bebcbb;
}
.subscription-logo{
  width: 60%;
}
.subscription-logo img{
  width: 100%;
}
#ps-now{
  background-color: #161c3b;
}
/* section soial */
.social-img{
  width: 100px;
  margin: 10px;
}
/* footer */
footer{
  background-color: #00439c;
}
footer .footer-lang img{
  height: 1rem;
}
.footer-lang{
font-size: .8rem;
}
footer ul li a{
  text-decoration: none;
  color: white;
}
.logo-footer img{
  height: 40px;
}